.content {
  max-width: 44rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.imageContainer {
  max-height: 8rem;
  max-width: 8rem;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.text {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--pink);
}
