.content {
  max-width: 44rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.imageContainer {
  max-height: 8rem;
  max-width: 8rem;
}

.text {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--pink);
}

.miaText {
  font-size: 2.4rem;
  font-weight: 700;
}

.button {
  font-size: 1.6rem;
  font-weight: 400;
  background: none;
}
