.container {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  width: 20%;
  background-color: var(--pink);
}

@media screen and (max-width: 481px) {
  .container {
    padding: 0 5rem;
  }
}
